Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_php.c>
  php_value upload_max_filesize 300M
  php_value post_max_size 310M
  php_value max_execution_time 600
  php_value memory_limit 512M
</IfModule>
